
* {
  box-sizing: border-box;
  font-family: 'fantasy';
}
header{
  background-color: #2556a0;
  border: 0%;
  margin: 0%;
  height: 60px;
  border-style:ridge;
  border-color: #cf0505ce;
}
h1{
  margin: 0%;
  align-self:flex-start;
  margin-left: 40%;
  color:#db8fa7ce;
  font-style:oblique;
}
p{
  margin-left: 42%;
  font-size: x-large;
}


ul {
  margin: 0;
  padding: 0;
  background: rgb(218, 45, 45);
  font-family: 'Fantasy';
  font-size:xx-large;
  border-style: ridge;
  border-color: #cf0505ce;
  color:rgb(161, 213, 233);

}

ul li:nth-child(odd) {
  background: rgb(218, 45, 45);
  font-family: 'Fantasy';
  font-size:xx-large;
  border-color: #cf0505ce;
  color:rgb(161, 213, 233);

}
ul li:hover {
  background: rgb(218, 45, 45);
  font-family: 'Fantasy';
  font-size:xx-large;
  border-style: ridge;
  border-color: #cf0505ce;
  color:rgb(161, 213, 233);
 
}
ul li.ok {
  background: rgb(218, 45, 45);
  font-family: 'Fantasy';
  font-size:xx-large;
  border-style: ridge;
  border-color:#cf0505ce;
  color:rgb(161, 213, 233);
  
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
input {
  margin: 0;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.addBtn {
  padding: 10px;
  width: 15%;
  background: #fffdfd;
  color: rgb(255, 254, 254);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: rgb(255, 252, 252);
}
#bottun{
  background-color: #2556a0;
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 10px;

}
.corpo{background-color:rgb(156, 255, 242);
margin: 0%;
}